@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  @apply w-full rounded-lg border border-slate-300 px-3 py-2 text-sm
         focus:outline-none focus:ring-2 focus:ring-[#1B211A]/30;
}
